<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
	</configSections>
	<log4net>
		<root>
			<!--
      Possible levels :
      •ALL: all log entries are appended to the log;
      •DEBUG: Debug, Info, Warn, Error, and Fatal messages are appended to the log.  This is functionally identical to ALL;
      •INFO: Info, Warn, Error, and Fatal messages are appended to the log;
      •WARN: Warn, Error, and Fatal messages are appended to the log;
      •ERROR: Error and Fatal messages are appended to the log;
      •FATAL: only Fatal messages are appended to the log;
      •OFF: all log entries are ignored.  Logging is effectively disabled in this case.
      -->
			<level value="INFO"/>
			<appender-ref ref="LogFileAppender"/>
		</root>
		<appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
			<!-- 
      File = Full path + first part of file name WITHOUT trailing backslash. 
      Lastpart is prefix for file, NOT a folder!
      Example:
      <param name="File" value="c:\Logging\ApplicationName\Client" />
      -->
			<param name="File" value="..\Log\SkPharma"/>
			<param name="AppendToFile" value="true"/>
			<rollingStyle value="Composite"/>
			<maxSizeRollBackups value="5"/>
			<maximumFileSize value="5MB"/>
			<countDirection value="-1"/>
			<staticLogFileName value="false"/>
			<param name="ImmediateFlush" value="true"/>
			<param name="DatePattern" value="_yyyy-MM-dd'.log'"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
			</layout>
		</appender>
	</log4net>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Win32.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
